#leftbar{
  z-index: 101;
  position:fixed;
  margin-top:10%;
}

#help{
  z-index: 101;
	position: fixed;
	margin-left:3%;
  margin-top:2%;
  height:100px;
}
/* style du bloc ul */
.menu-vertical {
  position: relative;
  /*width: 250px; /* optionnel, c'est pour la démo */
  list-style: none; /* supprime les puces de liste */
  padding: 4px; /* on fait un peu de place autour des liens */
  margin: 0; /* on annule les marges */
  background: #F2F2F2;

  height:400px;
}
.menu-vertical:hover{


}
/* styles des liens et éléments de liste */
.mv-item,
.mv-item a {
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: block;
}

/* styles des liens */
.mv-item a {
  margin: 1px 0; /* espace les liens d'1 px */
  padding: 8px 20px; /* marges internes pour aérer */
  color: #666;
  background: #FFF;
  text-decoration: none; /* on vire le soulignement */

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}

/* styles changeants au survol et focus */
.mv-item a:hover,
.mv-item a:focus {
  background: #1ABC9C;
  color: #FFF;
  padding-left: 30px; /* décalage du contenu de 10px vers la droite (30-20 = 10) */
}

#delete{
width:100;
}
.login{
  height:30px;
  cursor:pointer;
}
#seconnecter{
  border:1px solid green;
}
.icon{
  margin-top: 8px;
  height:50px;
}
.icon:hover{
  height: 30px;
}
ul > li{
  height:60px;
}